html, body {
    margin-left: auto;
    margin-right: auto;
    max-width: 92%;
    background-color: red;
    padding-top: 10px;

  }
  @media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
        margin-top: 7px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 600px){
    .input-group, .social {
    display: none !important;
  }
}


.a.logoWidth {
  width: 300px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar navbar-default {
  background-color: white;
  border-color: rgb(255, 255, 255);
  font-weight: bolder;
  
}
.active {
  font-size: 16px;
}




/*SEARCH BAR*/
.input-group .search {
  font-family: "neutra-book",Helvetica;
  width: 325px;
  margin-bottom: 3px;
  padding: 8px 26px;
  border-radius: 32px;
  border: 0 solid #ccc;
  outline: 0;
  height: 48px;
  font-weight: 600;
  color: #cfe6e8;
  font-size: 25px;
  transition: all 250ms ease-out;
}




/*SEARCH BUTTON*/
.btn{
  border: 1px solid #000;
  font-size: 22px;
}


.logo, .input-group{
  display: inline-block;
}


.col-xs-5 {
    width: 8.666667%;
    margin-top: 5px;
    margin-left: -19px;
}

.navbar.main {
  margin-bottom: 0px;
  margin-left: -17px;
}

.navbar.main {
      background-color: red;
}

/*STYLES SEARCH BY CATEGORY*/
.container-fluid {
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgba(12, 248, 248, 0.43);
  
}


a {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    color: #000407;
    text-decoration: none;
}


a.dropdown-toggle {
  color: black !important;
}

/*adding hover*/
.navbar-default .navbar-nav > li > a:hover {
    background-color:white;

    /*:#00ff00;*//* #0066ff; */ /*rgba(12, 248, 248, 0.43);*/ /*#e6e6ff; */ /*#ff00ff;*/ /* #0066ff;*/

}
.navbar-default .navbar-nav > li > a {
    color: #333;
}


/*GALLERY*/
.gallery img:hover {
  transform:scale(1.2);
  transition: transform 500ms ease-in-out;
}

.galleryContainer{
    background-color: rgba(232, 232, 232, 0.24);
    margin-top: 27px;
    margin-left: -2px;
    display: flex;
    flex-wrap: wrap;
}


.gallery {
    display: flex;
    margin-top: 27px;
    margin-left: 32px;
}

.itemGallery {
    display: inline-flex;
    justify-content: space-around;
    /*border: 1px solid black;*/
    border: 1px solid #05f45a;
    margin: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-family: fantasy;
    font-weight: normal;
    font-size: 19px;
    color: #080000;

}

.listGallery {
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    width: 304px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.gallery {
    display: flex;
    margin-top: 27px;
}

.title {
    font-size: 18px;
    margin-top: -20px;
}


.gallery img {
    width: 300px;
    height: 450px;
    margin-top: 3px;
}


.movieResults{
   margin-top: 22px;
}


.container{
      border: 1px solid #05f45a;
     height: 520px; 
    max-width: 99%;
    /*background: url(http://www.moviepostershop.com/images/slideshow/promo-fall-season-savings.jpg);*/
}


.searchRow{
    display: flex;
    height: 43px;
    margin-left: 300px;
    margin-top: 15px;

}


#find {
    width: 305px;
    padding: 8px 26px;
    font-weight: 600;
    color: 05050d;
    font-size: 19px;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}





